body {
  background: $color2;
  overflow-x: hidden;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  @include md {
    overflow-y: hidden;
  }
}
*,
*:before,
*:after {
  text-rendering: optimizeLegibility;
}
img {
  max-width: 100%;
}

a.active, a:hover {
  color: $color1 !important;
  opacity: 1 !important;
}
a:focus {
  outline: none;
}
h1 {
  font-size: 47px;
  line-height: 40px;
  @include md {
    font-size: 60px;
    line-height: 53px;
  }
  font-family: font-file-82132;
  font-weight: 400;
  color: #f6f7eb;
}
.BOYE {
  & .content {
    z-index: 1;
    transform-style: preserve-3d;
    & .blast {
      transition: all .3s ease-out;
      display: inline-block;
      &:hover {
        color: $color1;
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fade-enter, .fade-leave-to {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation: zoomOut;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
/*.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
 {
  transform: translateX(10px);
  opacity: 0;
}*/

@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3,.3,.3);
    transform: scale3d(.3,.3,.3);
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3,.3,.3);
    transform: scale3d(.3,.3,.3);
  }
  100% {
    opacity: 0;
  }
}
