body {
  background: $color2;
  overflow: hidden;
}
*,
*:before,
*:after {
  text-rendering: optimizeLegibility;
}
img {
  max-width: 100%;
}
a.active, a:hover {
  color: $color1 !important;
}
a:focus {
  outline: none;
  color: $color1 !important;
}
h1 {
  font-size: 47px;
  line-height: 40px;
  @include md {
    font-size: 60px;
    line-height: 53px;
  }
  font-family: font-file-82132;
  font-weight: 400;
  color: #f6f7eb;
}
.BOYE {
  & .content {
    z-index: 1;
    transform-style: preserve-3d;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
