.home-page {
  color: #fff;
  & h1 {
    margin: 0;
    & img {
			position: relative;
			top: -4px;
			right: -7px;
			width: 51px;
			height: auto;
    }
  }
  & .content {
    margin-top: 170px;
    position: static;
    left: 5%;
    margin-left: 8%;
  }
  & h2 {
		color: #ddd;
		margin-top: 20px;
		font-weight: 400;
		font-size: 0.6875rem;
		font-family: "Open Sans",sans-serif;
		letter-spacing: 0.1875rem;
		animation: myanim2 1s 1.8s backwards;
	}
	& .flat-button {
		color: $color1;
		font-size: 0.8125rem;
		letter-spacing: 0.25rem;
		font-family: "Open Sans",sans-serif;
		text-decoration: none;
		padding: 10px 18px;
		border: 1px solid $color1;
		margin-top: 25px;
		float: left;
		animation: myanim2 1s 1.8s backwards;
		&:hover {
			background: $color1;
			color: #333 !important;
		}
	}
}

.pic-bg {
	position: absolute;
	top: 0;
	background-size: cover;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	right: 0;
	opacity: 0.5;
	animation: myanim2 1.5s 1.9s backwards;
	@include lg {
		width: 50%;
		opacity: 1;
	}
}

@keyframes myanim2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
