.navbar {
	position: fixed;
	top: 0;
	background: $black;
	min-height: 0;
	width: 100%;
	height: 60px;
	z-index: 3;
	left: 0;
	@include atSmall {
		position: absolute;
	}
	@include atLarge {
		width: 60px;
		min-height: 500px;
		height: 100%;
	}
	& .brand {
		float: left;
		background: $deep-black;
		display: block;
		padding: 0;
		color: #fff;
		font-family: 'Oswald', sans-serif;
		text-align: center;
		font-size: 18px;
		white-space: none;
		width: 60px;
		@include atLarge {
			padding: 8px 0;
		}
		& .big {
			font-size: 40px;
		}
	}
	& nav {
		display: block;
		position: fixed;
		text-align: center;
		width: 100%;
		height: 60px;
		opacity: 1;
		top: 60px;
		left: 0;
		@include atSmall {
			top: 0;
			opacity: 1;
			position: absolute;
			left: 50%;
			height: 60px;
			margin-left: -19%;
			float: left;
			width: 42%;
			text-align: left;
			overflow: hidden;
		}
		@include atLarge {
			height: 210px;
			top: 50%;
		}
		a {
			font-size: 22px;
			height: 51px;
			display: block;
			line-height: 51px;
			float: left;
			width: 20%;
			&:first-child {
				margin-left: 0;
			}
			@include atSmall {
				height: 60px;
				line-height: 60px;
				float: left;
				margin-left: 10%;
			}
			&.active-link {
			color: $fade-green;
		 }
		}
	}
	& ul {
			position: absolute;
			width: 100%;
			list-style: none;
			margin: 0;
			padding: 0;
			bottom: 20px;
			display: none;
			@include atSmall {
				display: block;
			  position: static;
			  width: auto;
			  height: 60px;
			  float: right;
			}
			@include atLarge {
				position: absolute;
				width: 100%;
				height: auto;
				float: none;
				text-align: center;
				bottom: 34px;
			}
			& li {
				@include atSmall {
					float: right;
					height: 60px;
					line-height: 60px;
					margin: 0 10px;
				}
				@include atLarge {
					float: none;
					height: 30px;
					line-height: 30px;
				}
			& a {
				padding: 7px 0;
				display: block;
				font-size: 15px;
				line-height: 16px;
				height: auto;
				color:	#4d4d4e;
				@include atSmall {
					line-height: 60px;
					padding: 0;
				}
				@include atLarge {
					padding: 7px 0;
				}
				&:hover {
					color: $fade-green;
				}
			}
		}
		}
		& .toggle {
			font-size: 30px;
			color: #fff;
			float: right;
			margin: 13px 20px 10px 10px;
			display: block;
			@include atSmall {
				display: none;
			}
		}
		&:focus {
			color: $fade-green;
		}
}