.navbar {
  padding: 0;
  height: 3.75rem;
  width: 100%;
  &-brand {
    background: #313537;
    height: 100%;
    & img {
      display: block;
      margin: 5px 15px;
      width: auto;
      height: auto;
      &:first-child {
        height: 1.857rem;
      }
    }
  }
  &-toggler {
    @include md {
      display: none;
    }
  }
  &-collapse {
    display: flex !important;
    height: 100%;
  }
}

#nav {
  height: 100%;
  & li {
    height: 100%;
    position: relative;
    & a {
      height: 3.75rem;
      font-size: 1.375rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
    }
  }
}
