$orange: #FF652F;
$dark: #272727;
$black: #070707;
$grey: #747474;
$black-1: #181818;
$yellow: #EEF400;
$green: #14A76C;
@font-face {
  font-family: "font-file-82132";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/coolvetica.ttf")
}
