.about {
  & .content {
    margin-top: 170px;
    position: static;
    left: 5%;
    margin-left: 6%;
    @include md {
      margin-left: 8%;
    }
  }
}

._hr53e {
  position: absolute;
  right: 0;
  width: 50%;
  top: 42%;
  transform: translateY(-50%);
  display: none;
  @include lg {
    display: block;
  }
  animation: myanim2 1.5s 1.9s backwards;
}
