.index {
	& .wrapper {
		position: static;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		width: 85%;
		max-height: 90%;
		left: 5%;
		margin-top: 170px;
		float: left;
		margin-left: 10%;
		min-height: 0;
		@include atMedium {
			left: 10%;
		}
		@include atLarge {
			position: absolute;
			width: 40%;
			min-height: 0;
			margin-left: 0;
			margin-top: 0;
		}
		& h1 {
			color:#fff;
			font-size: 47px;
			line-height: 40px;
			margin: 0;
			font-family: font-file-82132;
			font-weight: 400;
			@include atMedium {
				font-size: 56px;
			  line-height: 53px;
			}
			& span {
				display: inline-block;
				transition: all .3s ease-out;
			}
		}
	}
}