$dark: #1d1d1d;
$deep-black: #070707;
$black: #181818;
$grey: #444;
$fade-green: #08fdd8;
@font-face {
  font-family: "font-file-82132";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/coolvetica.ttf")
}